@import url("https://fonts.googleapis.com/css2?family=Baskervville:wght@600&family=Inter:opsz@14..32&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-background: var(--primary);
  --color-foreground: var(--secondary);
  --color-brand: var(--brand);
  --color-link: var(--link);
  --color-heading: var(--heading);
  --color-tertiary: var(--tertiary);

  --color-body: var(--body);
  --color-heading: var(--heading);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);

  --font-heading: "Baskervville", sans-serif;
  --font-base: "Inter", sans-serif;
}

:root {
  --radius: 0.25rem;
  --primary: oklch(0.86 0.06 129.29);
  --secondary: oklch(0.94 0.01 0);
  --tertiary: oklch(0.66 0.03 130.72);
  --accent: oklch(0.7 0.13 61.35);
  --body: oklch(0.51 0 0);
  --heading: oklch(0 0 0);

  --brand: var(--primary);
  --link: var(--accent);

  --background: var(--primary);
  --foreground: var(--secondary);

  --card: var(--secondary);
  --card-foreground: #34402c;
  --popover: var(--brand);
  --popover-foreground: #34402c;
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: #34402c;
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent-foreground: var(--primary);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: var(--foreground);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: #34402c;
  --sidebar-primary: #34402c;
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: #34402c;
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-secondary;
  }
}
.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
  gap: 4px;
}
.embla__slide {
  flex: 0 0 33%;
  min-width: 0;
}

.momoyoga-lesson-action-booknow {
}

.momoyoga-schedule {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.momoyoga-section {
  @apply flex flex-col py-8 md:py-4 px-8 md:py-8 bg-white rounded-bl-4xl items-center md:items-start;
}

.momoyoga-lessons {
  @apply mt-4 w-full;
}

.momoyoga-day {
  @apply text-2xl font-bold font-heading;
}
.momoyoga-date {
  @apply text-xl font-bold font-heading  text-body;
}

.momoyoga-status- {
  @apply w-full;
}

.momoyoga-lesson .momoyoga-lesson-line {
  @apply flex md:flex-row flex-col gap-2 md:items-end items-center text-body w-full;
}

.momoyoga-lesson .momoyoga-lesson-action {
  @apply self-center md:self-end md:ml-auto;
}
.momoyoga-lesson .momoyoga-lesson-action .momoyoga-lesson-action-booknow {
  @apply inline-flex items-center tracking-[0.25rem] uppercase justify-center gap-2 whitespace-nowrap text-xs font-bold transition-all disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg:not([class*='size-'])]:size-4 shrink-0 [&_svg]:shrink-0 outline-none focus-visible:border-ring focus-visible:ring-ring/50 focus-visible:ring-[3px] aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive bg-link rounded-full text-primary-foreground hover:bg-link/90  px-7 py-3 has-[>svg]:px-3;
}

.momoyoga-lesson .momoyoga-lesson-time {
  @apply font-bold rounded-md;
}
